@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fragment+Mono:ital@0;1&family=Kablammo&family=Lobster+Two&family=Noto+Sans+Anatolian+Hieroglyphs&family=Open+Sans:wght@300&family=Pacifico&family=Passion+One&family=Prompt:wght@100&family=Roboto:wght@100&display=swap');
</style>

html body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    font-weight: lighter;
    color: grey;
}
p{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fragment Mono', monospace;
    font-family: 'Kablammo', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Noto Sans Anatolian Hieroglyphs', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Passion One', cursive;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.imagen > p{
    background-color: rgba(0, 0, 0, 0.47);
    width: 400px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagen{
    background-color: rgba(64, 58, 50, 0.653);
    color: white;
}






footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}