/* ============= RESET CSS ================ */
@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    /*background-color: rgba(221, 164, 164, 0.577);*/
    height: 60px;
    padding:0px 0;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.139);
}

.logo{
    float: left;
    width: 75px;
    height: 75px;
    margin-left: 35px;
    margin-bottom: 5px;
    /*background-color: aqua;*/
}

.menu{
    float: center;
    width: 75px;
    height: 75px;
    /*background-color: rgba(7, 61, 61, 0.399);*/
}

.car{
    float: right;
    width: 45px;
    height: 62px;
    padding-right: 150px;
    padding-left: 5px;
    padding-top: 24px;
    margin-top: -96px;
    border-left: 1px solid rgba(0, 0, 0, 0.139);
    background-position: center;
    /*background-color: rgba(48, 60, 60, 0.697);*/
}

img{
    width: 20px;
}